body {
  background-color: #f5f2fe;
}

a {
  text-decoration: none;
  color: #ffd447;
  transition: all 200ms ease-in-out;
}

ul {
  list-style: none;
}

.content {
  width: 85%;
  margin-top: 10px;
  padding: 30px 40px 20px;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #272142;
}

.search-bar {
  font-size: 20px;
}

.search-bar button {
  width: 100%;
  color: #272142;
  background-color: #ffd447;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: all 200ms ease-in-out;
}

.search-bar button:hover {
  color: #ffd447;
  background-color: #272142;
  border: 1px solid #ffd447;
}

.search-bar i {
  padding-left: 3px;
  font-size: 14px;
}

.today {
  margin-top: 30px;
  margin-bottom: 30px;
}

.today-weather {
  padding: 0;
  text-align: center;
}

.today h2,
.today .unit,
.today a:hover,
.location h1,
#today-time,
.tomarrow a:hover {
  color: #ff558e;
}

.today h2,
#weather-icon {
  display: inline-block;
  font-size: 140px;
  font-weight: 600;
}

#weather-icon {
  padding-right: 10px;
  font-size: 160px;
}

.today .unit {
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  vertical-align: top;
  margin-top: 20px;
}

#celcius {
  padding-right: 8px;
  color: #ffd447;
  transition: all 200ms ease-in-out;
}

#farenheit {
  padding-left: 6px;
  border-left: 3px solid #d4cae2;
  color: #ffd447;
  transition: all 200ms ease-in-out;
}

#celcius:hover,
#farenheit:hover {
  cursor: pointer;
  color: #ff558e;
}

#celcius.active,
#farenheit.active {
  cursor: default;
  color: #ff558e;
}

.today span.statistic {
  padding: 0;
}

.today span.statistic ul {
  padding: 0;
  margin: 20px 0 0;
}

.today div.col-2 {
  padding: 0;
}

.location {
  text-align: right;
  vertical-align: middle;
  margin-top: 15px;
  padding-right: 25px;
  padding-left: 0;
}

#city {
  font-size: 52px;
  line-height: 1;
}

#today-time {
  font-size: 28px;
}

#update {
  padding-left: 8px;
  font-size: 24px;
  color: #ffd447;
  transition: all 200ms ease-in-out;
}

#update:hover {
  cursor: pointer;
  color: #ff558e;
}

.sky,
.statistic {
  color: #defffc;
}

.today .sky {
  font-size: 24px;
  text-transform: capitalize;
}

.statistic {
  font-size: 18px;
  padding-left: 80px;
}

.statistic li i {
  padding-right: 8px;
}

.statistic li span {
  font-weight: 600;
  padding-right: 4px;
}

.tomarrow {
  text-align: right;
  padding-top: 20px;
}

.tomarrow a {
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}

.tomarrow .sky {
  font-size: 18px;
}

.tomarrow-weather i {
  font-size: 60px;
  vertical-align: middle;
  margin: 20px 5px 0 0;
}

.tomarrow-weather span,
.weekday div {
  color: #e2eafc;
}

.tomarrow-weather span {
  font-size: 36px;
  vertical-align: middle;
}

.tomarrow-weather .high {
  font-weight: 700;
}

.weekdays {
  width: 90%;
  margin-top: 10px;
}

.weekday {
  border: 1px solid #d4cae2;
  border-radius: 10px;
  margin: 10px 40px 0;
  padding: 10px;
  transition: all 200ms ease-in-out;
}

.weekday:hover {
  background-color: #ffd447;
  box-shadow: 3px 3px 5px 2px rgba(255, 212, 71, 0.3);
  border: 1px solid transparent;
}

.weekdays a {
  display: block;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.weekdays a:hover,
.weekday:hover a,
.weekday:hover.weekday div {
  color: #3f3855;
}

.weekdays i {
  font-size: 40px;
}

i.fa-cloud {
  color: #90e0ef;
}

i.scattered-clouds {
  color: #00b4d8;
}

i.broken-clouds {
  color: #0077b6;
}

i.overcast-clouds {
  color: #03045e;
}

i.fa-sun {
  color: #fce762;
}

i.fa-moon {
  color: #c8b6ff;
}

i.fa-cloud-sun {
  color: #ffb17a;
}

i.fa-cloud-moon {
  color: #9d7bf4;
}

i.fa-cloud-sun-rain {
  color: #ff9244;
}

i.fa-cloud-moon-rain {
  color: #8155f1;
}

i.fa-cloud-rain {
  color: #652fee;
}

i.fa-cloud-showers-heavy {
  color: #4d12e2;
}

i.fa-snowflake {
  color: #abc4ff;
}

i.fa-smog {
  color: #aea4bf;
}

i.fa-cloud-bolt {
  color: #240046;
}

i.fa-volcano {
  color: #b5838d;
}

i.fa-tornado {
  color: #ffb4a2;
}

.weekday div {
  font-size: 20px;
  margin-top: 10px;
}

.weekday .high {
  font-weight: 700;
}

footer {
  text-align: center;
  color: #272142;
}

footer a {
  color: #7743ef;
}

footer a:hover {
  color: #ff558e;
}

footer i {
  font-size: 18px;
  padding: 5px 3px 0 0;
  color: #7743ef;
}
