body {
  background-color: #f5f2fe;
}

a {
  text-decoration: none;
  color: #ffd447;
  transition: all 200ms ease-in-out;
}

ul {
  list-style: none;
  margin: 0;
}

.content {
  width: 85%;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #272142;
}

.search-bar button {
  width: 100%;
  color: #272142;
  background-color: #ffd447;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: all 200ms ease-in-out;
}

.search-bar button:hover {
  color: #ffd447;
  background-color: #272142;
  border: 1px solid #ffd447;
}

.today h2,
.today .unit,
.today a:hover,
.location h1,
#today-time,
.title {
  color: #ff558e;
}

.today h2,
#weather-icon {
  display: inline-block;
  font-size: 140px;
  font-weight: 600;
}

#weather-icon {
  font-size: 160px;
}

.today .unit {
  font-size: 32px;
  font-weight: 600;
}

#celcius {
  color: #ffd447;
  transition: all 200ms ease-in-out;
}

#farenheit {
  border-left: 3px solid #d4cae2;
  color: #ffd447;
  transition: all 200ms ease-in-out;
}

#celcius:hover,
#farenheit:hover {
  cursor: pointer;
  color: #ff558e;
}

#celcius.active,
#farenheit.active {
  cursor: default;
  color: #ff558e;
}

#city {
  font-size: 52px;
  line-height: 1;
}

#today-time {
  font-size: 28px;
}

#update {
  font-size: 24px;
  color: #ffd447;
  transition: all 200ms ease-in-out;
}

#update:hover {
  cursor: pointer;
  color: #ff558e;
}

.sky {
  color: #e2eafc;
  text-transform: capitalize;
}

.today .sky {
  font-size: 24px;
}

.statistc-tomarrow {
  align-items: center;
  vertical-align: middle;
}

.statistic {
  color: #e2eafc;
  font-size: 18px;
}

.statistic li span {
  font-weight: 600;
}

.tomarrow {
  align-items: center;
  vertical-align: middle;
}

#tomarrow-weather .title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}

#tomarrow-weather .sky {
  color: #defffc;
  font-size: 18px;
}

#tomarrow-weather i {
  font-size: 60px;
}

.temprature {
  color: #defffc;
}

#tomarrow-weather .temprature {
  font-size: 24px;
}

.high {
  font-weight: 700;
}

#weekdays {
  width: 90%;
}

.weekday {
  border: 1px solid #d4cae2;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

.weekday .title {
  font-size: 22px;
  font-weight: 700;
}

.weekday .temprature {
  font-size: 20px;
}

.weekday:hover {
  background-color: #ffd447;
  box-shadow: 3px 3px 5px 2px rgba(255, 212, 71, 0.3);
  border: 1px solid transparent;
}

.weekday:hover.weekday div {
  color: #3f3855;
}

#weekdays i {
  font-size: 40px;
}

i.fa-cloud {
  color: #90e0ef;
}

i.scattered-clouds {
  color: #00b4d8;
}

i.broken-clouds {
  color: #0077b6;
}

i.overcast-clouds {
  color: #03045e;
}

i.fa-sun {
  color: #fce762;
}

i.fa-moon {
  color: #c8b6ff;
}

i.fa-cloud-sun {
  color: #ffb17a;
}

i.fa-cloud-moon {
  color: #9d7bf4;
}

i.fa-cloud-sun-rain {
  color: #f77a21;
}

i.fa-cloud-moon-rain {
  color: #8155f1;
}

i.fa-cloud-rain {
  color: #652fee;
}

i.fa-cloud-showers-heavy {
  color: #4d12e2;
}

i.fa-snowflake {
  color: #abc4ff;
}

i.fa-smog {
  color: #aea4bf;
}

i.fa-cloud-bolt {
  color: #240046;
}

i.fa-volcano {
  color: #b5838d;
}

i.fa-tornado {
  color: #ffb4a2;
}

i.fa-mountain-sun {
  color: #fa9750;
}

footer {
  color: #272142;
}

footer a {
  color: #7743ef;
}

footer a:hover {
  color: #ff558e;
}

footer i {
  font-size: 18px;
  color: #7743ef;
}
